.app-background {
    background-color: black;
    background-image: url('./components/Image/F sitio.jpeg');
    background-size: cover;
    height: 100vh;
    padding: 0px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 30px;
}

